* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-size: cover;
  background-position: center;
  height: 100vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  animation: change-bg 20s ease-in-out infinite;
  overflow: hidden;
}

/* Transicion imagen de fondo */

@keyframes change-bg {
  0% {
    background-image: url("../../assets/login/w1_11zon.webp");
    opacity: 0.7;
  }
  25% {
    background-image: url("../../assets/login/w2_11zon.webp");
    opacity: 0.7;
  }
  50% {
    background-image: url("../../assets/login/w3_11zon.webp");
    opacity: 0.7;
  }
  75% {
    background-image: url("../../assets/login/w4_11zon.webp");
    opacity: 0.7;
  }

  100% {
    background-image: url("../../assets/login/w1_11zon.webp");
    opacity: 0.7;
  }
}

/* icon home */

.icon_home {
  font-size: 1.5rem;
  position: absolute;
  top: 16px;
  left: 20px;
  color: white;
}
.icon_home:hover {
  color: #4f9bf5;
}

/*logo*/
.logo {
  text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
    rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px,
    rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px,
    rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
}

p {
  font-weight: bold;
  font-size: 20px;
  color: var(--blanco);
  text-align: center;
  margin: 0;
  padding: 5px;
}
.info {
  font-weight: bold;
  font-size: 22px;
  color: var(--blanco);
  text-align: center;
  margin: 0;
  padding: 5px;
  -webkit-text-stroke: 0.5px black;
}
.in {
  font-weight: bold;
  font-size: 30px;
  color: var(--azul);
}

.on {
  font-weight: bold;
  font-size: 30px;
  color: var(--rosado);
}
.tw {
  font-weight: bold;
  font-size: 20px;
  color: var(--morado);
}

.container-form {
  /* width: 90%; */
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-out;
}

.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.message {
  padding: 1rem;
}

.message h2 {
  font-size: 2.2rem;
  padding: 1rem 0;
}

.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: var(--morado);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
  color: #fff;
}

.message button:hover {
  background-color: var(--azul);
}

.register {
  padding: 0;
  margin: 0;
}

.register button {
  padding: 1rem;
  font-weight: 400;
  background-color: var(--morado);
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;

  transition: all 0.3s ease-in;
  color: #fff;
}

::placeholder {
  color: white;
}

.formulario {
  width: 90%;
  height: 70%;
  max-width: 400px;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(51, 51, 51, 0.792);
  text-align: center;
  border-radius: 50px;
}

.create-account {
  padding: 2.7rem 0;
  font-size: 1.7rem;
}

.iconos {
  width: 230px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.border-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: solid thin white;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
}

.border-icon:hover {
  background-color: #4a4aee;
  cursor: pointer;
}

.cuenta-gratis {
  padding: 2rem 0;
}

.formulario input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: 0.2rem 0;
  font-size: 0.9rem;
  color: white;
}

.formulario input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid thin white;
  padding: 0.7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: 600;
  margin-top: 3rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #222;
}

.sign-in {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-in.active {
  opacity: 1;
  visibility: visible;
}

.sign-up.active {
  opacity: 0;
  visibility: hidden;
}

/*responsive dispositivos mobiles y PC*/
@media screen and (max-width: 1990px) {
  .container-form {
    align-items: center;
    height: 100%;
  }

  .formulario {
    margin: auto;
    height: auto;
    margin: 10px;
  }
}

@media screen and (max-width: 1366px) {
  .container-form {
    align-items: center;
    height: 100%;
  }

  .formulario {
    margin: auto;
    height: auto;
    margin: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .container-form {
    align-items: center;
    height: 100%;
  }

  .formulario {
    margin: auto;
    height: auto;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container-form {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .formulario {
    flex-direction: column;
    margin: 10px;
    height: auto;
  }
  .register button {
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 18px;
  }

  .info {
    font-size: 20px;
  }

  .in {
    font-size: 25px;
  }

  .on {
    font-size: 25px;
  }
  .tw {
    font-size: 25px;
  }

.message{
  margin-top: 18px;
}

.message h2{
  font-size: 25px;
  line-height: 1.5;
}

.message .info{
  font-size: 18px;
}

.message button{
  margin-top: 20px;
}

  .container-form {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .formulario {
    flex-direction: column;
    margin: auto;
    height: auto;
    margin: 50px;
  }
}

@media screen and (max-width: 414px) {
  .icon_home {
    font-size: 1rem;
  }

  p {
    font-size: 15px;
  }

  .info {
    font-size: 18px;
  }

  .in {
    font-size: 20px;
  }

  .on {
    font-size: 20px;
  }
  .tw {
    font-size: 20px;
  }

.message{
  margin-top: 15px;
}

.message button{
  margin-top: 18px;
}

  .container-form {
    flex-direction: column;
    align-items: center;
    height: 90%;
  }

  .formulario {
    flex-direction: column;
    margin: auto;
    height: 70%;
  }
  .register button {
    margin: auto;
  }
}


@media screen and (max-width: 320px) {
  .icon_home {
    font-size: 1rem;
  }

  p {
    font-size: 10px;
  }

  .info {
    font-size: 10px;
  }

  .info p{
    font-size: 8px;
  }

  .in {
    font-size: 20px;
  }

  .on {
    font-size: 20px;
  }
  .tw {
    font-size: 20px;
  }


  .iconos {
    width: 200px;
  }
  
  .border-icon {
    height: 15px;
    width:15px;
    padding: 1.2rem;
    font-size: 1.2rem;
  }
.message{
  margin-top: 5px;
}

.message h2{
  font-size: 1.2rem;
}


.message input{
  font-size: 10px;
}


.message button{
  margin-top: 12px;
  font-size: 13px;

}

  .container-form {
    flex-direction: column;
    align-items: center;
    height: 80%;
  }

  .formulario {
    flex-direction: column;
    height: 75%;
  }

  .create-account {
    padding: 10px;
    font-size: 1.2rem;
  }
  
  .cuenta-gratis {
    padding: 0.2rem 0;
  }
  
  .formulario input {
    width: 70%;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    padding: 2px;
  }
  

}
