:root {
  --azul: #499af8;
  --morado: #601de9;
  --rosado: #ba0bd6;
  --negro-background: #2e2b2bfe;
  --blanco: #f5f5f5;
}


.nav-item-blue{
  top: 0;
}
/* se quita la imagen de intro para que solo sea vea el texto de terminos */
.banner_Text, .animate__animated, .animate__bounceInDown{
  display: none;
}

.container-terms{
  margin-top: 9rem;
}

.titleMain-terminos{
  font-size: 2.7rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  animation: neon 2s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    opacity: 1;
  }
  to {
    text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
      rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px,
      rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px,
      rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
  }
}

.terminos{
  background-color: #88878771;
  border-radius: 10px;
  border-top: 3px var(--morado) solid;
  border-left: 5px var(--rosado) solid;
  border-bottom: 3px var(--azul) solid;
  border-right: 5px var(--rosado) solid;
  box-shadow: 0 0 10px 0 rgb(250, 245, 245);
  margin: 4rem;
  padding: 1rem 2rem;
}
.title-terminos, .titleMain-terminos{
  color:var(--blanco);
  font: bold;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}
.title-terminos{
  font-size: 20px;
}

.p-terminos, .li-terminos{
  line-height: 1.5rem;
  color:#D3D3D3;
}