/* CONTENEDOR DEL PARRAFO Y NUESTRO PROYECTO */
.ourProject {
  margin: 3rem 0;
  margin-bottom: 7rem;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container-L {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container-L h4 {
  color: var(--blanco);
  font-weight: bold;
  font-size: 2.7rem;
  text-align: center;
}

.container-L h4:hover {
  transform: translateY(-4px);
}

.logo-sec {
  margin: 1rem 0 0;
  padding: 1.5rem;
  object-fit: cover;
  position: unset;
  justify-content: center;
}

.logo-sec p {
  font-weight: bold;
  font-size: 25px;
  color: var(--azul);
  text-align: center;
  margin: 0;
}

.on-sec {
  font-weight: bold;
  color: var(--rosado);
}

.tw-sec {
  font-weight: bold;
  color: var(--morado);
}

.logo-sec:hover {
  color: var(--azul);
  border-radius: 20px;
  background: transparent;
  filter: contrast(150%) saturate(150%) brightness(1.2);
  text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
    rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px,
    rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px,
    rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
  --darkreader-inline-color: #e8e6e3;
  --darkreader-inline-bgimage: initial;
  --darkreader-inline-bgcolor: #262a2b;
}

.container-R {
  color: var(--blanco);
  margin: 0;
  width: 54vw;
  padding: 0 1.5rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  border-top: 3px var(--morado) solid;
  border-left: 5px var(--rosado) solid;
  border-bottom: 3px var(--azul) solid;
  border-right: 5px var(--rosado) solid;
}

.container-R:hover {
  transform: scale(0.98);
}

.descrip1 {
  height: 60%;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  margin: 1.4rem;
  overflow: hidden;
  overflow-y: scroll;
}

.descrip1 span {
  font-weight: 600;
  color: #4f91fb;
}

.values {
  width: 100%;
  margin: 0;
}


.values ul li {
  padding: 0.8rem;
  display: inline-block;
  text-align: left;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-radius: 9px;
}

.values ul li:hover {
  background-color: var(--dos);
  text-shadow: rgb(255, 255, 255) 0px 0px 5px, #4f91fb 0px 0px 10px,
    rgb(255, 255, 255) 0px 0px 15px, #4f91fb 0px 0px 20px, #4f91fb 0px 0px 30px,
    #4f91fb 0px 0px 40px, #4f91fb 0px 0px 50px, #4f91fb 0px 0px 75px;
  font-weight: 700;
  transform: scale(0.9);
  transition: ease;
}

.partners {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin: 4rem auto;
  grid-column: 1/-1;
}

/* perfiles */
.container__cards {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;

}

.col {
  width: 500px;
}

.title__perfiles {
  color: var(--blanco);
  text-align: center;
  font-weight: bold;

}

.title__perfiles h4 {
  font-size: 3rem;
}

.card {
  position: inherit;
  width: 300px;
  border-radius: 15px;
  margin: auto auto;
  margin-top: 5rem;
  opacity: 0.5;
  box-shadow: -10px 19px 14px -4px rgba(0, 0, 0, 0.92);
  background: rgb(73, 154, 248);
  background: linear-gradient(90deg,
      rgba(73, 154, 248, 0.44861694677871145) 29%,
      rgba(96, 29, 233, 0.41780462184873945) 55%,
      rgba(186, 11, 214, 0.43461134453781514) 80%);
}

.card:hover {
  transition: all 400ms;
  opacity: 1;
}

/* Ajuste tamaño fotos */
.perfiles img {
  width: 15rem;
  border-radius: 15px;
  margin: auto auto;
  filter: grayscale(100%);
}

.photoKaren,
.photoLaura {
  height: 240px;
  object-fit: cover;
}

.perfiles img:hover {
  transition: all 400ms;
  border-radius: 50%;
  filter: grayscale(0);
  border: solid 4px white;
}



