:root {
  --negro: #000000;
  --deepblue: #0a3442;
  --blue: #25bee8;
  --cyan: #36c4c6;
  --blanco: #efefef;
  /* colores del logo */
  --magenta: #bb0cd4;
  --Azul: #4f91fb;
  --morado: #7939fd;
}

/* CONTENEDOR DEL PARRAFO Y NUESTRO PROYECTO */
.ourProyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 2rem auto 6rem;
  padding: 2rem 7rem;
}
.container {
  background-color: var(--blue);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 4px 26px -10px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 4px 26px -10px rgba(255, 255, 255, 0.5);
}
.container :hover {
  transform: scale(1.01);
}

.ourProyect h4 {
  color: var(--cyan);
  font-size: 3rem;
  margin: 5px auto 2rem;
}

.container p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
  padding: 7px;
  color: var(--negro);
}

/* perfiles */
.container__cards {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.col {
  width: 500px;
}
.title__perfiles {
  color: var(--cyan);
  text-align: center;
}

.title__perfiles h4 {
  font-size: 3rem;
}

.card {
  position: inherit;
  background-color: var(--cyan);
  width: 300px;
  border-radius: 15px;
  margin: auto auto;
  margin-top: 5rem;
  opacity: 0.5;
  box-shadow: -10px 19px 14px -4px rgba(0, 0, 0, 0.92);
}

.card:hover {
  transition: all 400ms;
  opacity: 1;
}

/* Ajuste tamaño fotos */
.perfiles img {
  width: 15rem;
  border-radius: 15px;
  margin: auto auto;
  filter: grayscale(100%);
}
.photoKaren,
.photoLaura {
  height: 240px;
  object-fit: cover;
}
.perfiles img:hover {
  transition: all 400ms;
  border-radius: 50%;
  filter: grayscale(0);
  border: solid 4px white;
}

/* Responsive para que no se desborde el parrafo de descripcion proyecto y el header */
@media screen and (max-width: 990px) {
  .container-fluid {
    display: flex;
    flex-direction: row-reverse;
  }
  .container-fluid p {
    display: none;
  }
  .container-fluid a {
    display: flex;
  }
  .title__text {
    transition: all 200ms;
    font-size: 2rem;
    margin-right: -7rem;
    margin-left: -3rem;
    text-align: center;
  }

  .container__paragraph {
    margin-bottom: 5rem;
  }
}

/*todo responsive para navbar en table mobile */

@media screen and (max-width: 768px) {
  .ourProyect {
    padding: 2rem;
  }

  .container__paragraph p {
    padding: 1rem;
  }
}
