/* CONTENEDOR DEL PARRAFO Y NUESTRO PROYECTO */
.ourProject {
  margin: 3rem 0;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container-L {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container-L h4 {
  color: var(--blanco);
  font-weight: bold;
  font-size: 2.7rem;
  text-align: center;
}

.container-L h4:hover {
  transform: translateY(-4px);
}

.logo-sec {
  margin: 1rem 0 0;
  padding: 1.5rem;
  object-fit: cover;
  position: unset;
  justify-content: center;
  animation: neon 2s ease-in-out infinite alternate;
}

.logo-sec p {
  font-weight: bold;
  font-size: 25px;
  color: var(--azul);
  text-align: center;
  margin: 0;
}

.on-sec {
  font-weight: bold;
  color: var(--rosado);
}

.tw-sec {
  font-weight: bold;
  color: var(--morado);
}


@keyframes neon {
  from {
    opacity: 1;
  }

  to {
    color: var(--azul);
    border-radius: 20px;
    background: transparent;
    filter: contrast(150%) saturate(150%) brightness(1.2);
    text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
      rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px,
      rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px,
      rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
    --darkreader-inline-color: #e8e6e3;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #262a2b;
  }
}



.container-R {
  color: var(--blanco);
  margin: 0;
  width: 54vw;
  padding: 0 1.5rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;

}

.container-R:hover {
  transform: scale(0.98);
}

.descrip1 {
  height: 60%;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  margin: 1.4rem;
  overflow: hidden;
  overflow-y: scroll;
}


.descrip1 span {
  font-weight: 600;
  color: var(--azul);
}

.values {
  width: 100%;
  margin: 0;
}


.values ul li {
  padding: 0.8rem;
  display: inline-block;
  
  font-size: 21px;
  letter-spacing: 2px;
  border-radius: 9px;
  font-weight: bold;
  color: var(--azul);
  
}


.partners {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin: 4rem auto;
  grid-column: 1/-1;
}
.partners img{
width: 13vw;
}
