
:root {
  --azul: #499af8;
  --morado: #601de9;
  --rosado: #ba0bd6;
  --negro-background: #2e2b2bfe;
  --blanco: #f5f5f5;
}

/*footer*/

footer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 0;
  width: 100vw;
  align-items: center;
  background-color: var(--negro-background);
  position: absolute;

}

.footer_menu {
  grid-column: 1/5;
  width: 100%;
}

.footer_menu ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.footer_menu a {
  color: rgb(210, 203, 203);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.footer_menu li:hover {
  bottom: 0;
  left: 0;
  font-weight: bold;
  transition: width 0.3s ease-out;
  text-shadow: rgb(38, 35, 35) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
    rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px,
    rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px,
    rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
}




.footer_socialNetworks {
  grid-column: 5/7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_socialNetworks p {
  padding-top: 15px;
  margin: 0;
  font-size: 20px;
  color: rgb(210, 203, 203);
  font-weight: bold;
}

.footer_socialNetworks i {
  margin: 0;
  padding: 15px 5px;
  font-size: 30px;
  color: var(--blanco);
}

.footer_socialNetworks i:hover {
  text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
  rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px,
  rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px,
  rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
--darkreader-inline-color: #e8e6e3;
--darkreader-inline-bgcolor: #262a2b;
-webkit-text-fill-color: black;
  transition: width 0.3s ease-out;
}

.footer_pay {
  grid-column: 8/10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_pay p {
  margin: 0;
  padding: 10px;
  font-size: 15px;
  color: rgb(210, 203, 203);
}

.footer_pay i {
  margin: 0;
  padding: 5px;
  font-size: 23.5px;
 color: var(--blanco);
}

/*todo el tema dew responsive*/

/*responsive dispositivos de pantalla vertical y computadores*/
@media (max-width: 990px) {
  .footer_menu a {
    font-weight: bold;
    font-size: 12px;
  }

  .footer_socialNetworks {
    grid-column: 5/6;
  }

  .footer_socialNetworks p {
    font-size: 15px;
  }

  .footer_socialNetworks i {
    padding: 10px 2px;
    font-size: 22px;
  }

  .footer_socialNetworks i:hover {
    font-size: 23px;
  }

  .footer_pay {
    grid-column: 7/10;
  }

  .footer_pay p {
    margin: 0;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(210, 203, 203);
  }

  .footer_pay i {
    margin: 0;
    padding: 5px;
    font-size: 17px;
    color: rgb(210, 203, 203);
  }
}

@media (max-width: 768px) {
  .footer_menu ul {
    display: none;
  }

  .footer_socialNetworks {
    grid-column: 1/6;
  }

  .footer_socialNetworks i {
    padding: 10px 2px;
    font-size: 25px;
  }

  .footer_socialNetworks i:hover {
    font-size: 26px;
  }

  .footer_pay {
    grid-column: 6/10;
  }

  .footer_pay i {
    font-size: 24px;
  }
}

@media (max-width: 630px) {

  .footer_socialNetworks i {
    font-size: 20px;
  }
  .footer_pay i {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
}
@media (max-width: 500px) {

  .footer_socialNetworks p {
    font-size: 12px;
  }
  .footer_socialNetworks i {

    font-size: 15px;
  }

  .footer_pay p {
    font-size: 12px;
  }
  .footer_pay i {
    font-size: 15px;
  }
}
