:root {
  --azul: #499af8;
  --morado: #601de9;
  --rosado: #ba0bd6;
  --negro-background: #2e2b2bfe;
  --blanco: #f5f5f5;
}

/*barra Scrollbar*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--morado);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 154, 248);
  background: linear-gradient(
    90deg,
    rgba(73, 154, 248, 0.9248074229691877) 3%,
    rgba(96, 29, 233, 0.9192051820728291) 6%,
    rgba(186, 11, 214, 0.865983893557423) 12%
  );
}

body {
  width: 100%;
  background-color: var(--negro-background);
  margin: 0;
  padding: 0;
  color: var(--blanco);
}




