:root{
  --negro: #000000;
  --deepblue: #0A3442;
  --blue:#25BEE8;
  --cyan:#36C4C6;
  --blanco: #EFEFEF;
}

body{
  margin: 0;
  box-sizing: border-box;
  background: rgb(10, 52, 66);
  background: linear-gradient(148deg, rgba(10, 52, 66, 1) 28%, rgba(3, 0, 28, 1) 99%);
}

header{
  background-color: aquamarine;
}

.navbar{
  padding: 0;
}
.container-fluid{
  background-color:var(--negro);
  position: absolute;
  margin-top: 7rem;
  /* margin-top: auto; */

}
nav img{
  width: 100px ;
  border-radius: 50%;
  background-color: var(--blue);
}

.navbar-nav li a{
  color: white;
  /* background-color: chartreuse; */
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 0.9px;
  font-weight: 700;
}
form{
  margin-right: 16rem;
  /* background-color: red; */
}
form .btn{
  border-radius: 20px;
}
/* estilo boton buscar */
.btn:hover{
  background-color: #7fffd6;
  color: #03001c;
}
/* Posicionamiento de registrate y los iconos de carrito y usuario */
.log-cart{
  /* background-color: blueviolet; */
  width: 200px;
  position: absolute;
  right: 0;
  /* margin-bottom: 2rem; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/* PARTE DE ENVIOS */
.envios{
  color: #000000;

  width: 100%;
  font-weight: 600;
  letter-spacing: 2.7px;
  background-color: #B6EADA;
  margin-top: 7rem;
  
}
.envios p{
  font-size: 15px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

/* CONTENEDOR DEL PARRAFO Y NUESTRO PROYECTO */

.container-sm{
  /* background-color: red; */
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
}
.title__container{
  /* background-color: #aaa4de; */
  margin-left: 3rem;
  margin-right: 10rem;
  color: var(--cyan);

}
.title__text{
  position: relative;
  font-size: 3rem;

  /* background-color: blue; */
}


.container__paragraph{
  /* background-color: darkgreen; */
  min-width: 300px;
  /* background-color: #0a3442; */
  border-radius: 15px;
  opacity: 0.5;
  box-shadow: 1px 19px 14px -4px #3ad3cd;
  color: white;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 1.4rem;
  text-align: justify;
}
.container__paragraph:hover{
  transition: all 500ms;
  transform: scale(1.25);
  border: 5px #B6EADA solid;
  background-color: var(--cyan);
  opacity: 1;
  box-shadow: 1px 19px 14px -4px rgba(0,0,0,0.92);
  color:#03001c;
}
.title__perfiles{
  color: var(--cyan);
  text-align: center;
}

.title__perfiles h4{
  font-size: 3rem;
}
.card{
  position: inherit;
  background-color: var(--cyan);
  width: 300px;
  border-radius: 15px ;
  margin: auto auto;
  margin-top: 2rem;
  opacity: 0.5;
  box-shadow: -10px 19px 14px -4px rgba(0,0,0,0.92);


}
.card:hover{
  transition: all 400ms;
  opacity: 1;
}
/* .perfiles{
  background-color: rgb(128, 243, 251);
  position: absolute;
} */
/* Ajuste tamaño fotos */
.perfiles img{
  width: 15rem;
  border-radius: 15px;
  margin: auto auto;
  filter: grayscale(100%);
}
.perfiles img:hover{
  transition: all 400ms;
  border-radius: 50%;
  filter: grayscale(0) ;
  /* brightness(1.2) contrast(1.2) */
  border: solid 4px white;

}





/* Responsive para que no se desborde el parrafo de descripcion proyecto */
@media screen and (max-width: 900px){
  .title__text{
    transition: all 200ms;
    font-size: 2rem;
    margin-right: -7rem;
    margin-left: -3rem;
    text-align: center;
  }
  .container__paragraph{
    margin-bottom: 5rem;
  }
}